.tb-altimage.alignleft{
align-items: flex-start;    
} 
.tb-altimage.aligncenter{
    align-items: center;
    text-align: center;    
}  
.tb-altimage.alignright{
    align-items: flex-end;
    text-align: right;    
}   
.tb-altimage .fullink{
    z-index: -1;  
    opacity: 0;
}
.tb-altimage .fullink img{
    height: 100%;
    object-fit: cover;
}
.tb-altimage{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}
.tb-altimage:hover .fullink{
 opacity: 1;   
}
.tb-altimage .fullink::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 8, 8, 0.4784313725);
    z-index: 1;
    transition: 0.4s;
}
.tb-altimage::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -1;
    transition: 0.6s;
}
.tb-altimage:hover::after {
    height: 0%;
}