.tp-team-one .fullink{
    z-index: 1;
}    
.tp-team-one .tpinfo{
    justify-content: space-between;
    align-items: center;    
}    
.tp-team-one .social {
    position: absolute;
    top: 40px;
    left: 20px;
    opacity: 0;
    z-index: 2;
}
.tp-team-one:hover .social {
    left: 40px;
    opacity: 1;
}
.tp-team-one .more-btn {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
}
.tp-team-one:hover .more-btn {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.tp-team-one .thumb-wrap img {
    width: 100%;
    object-fit: cover;
}
.tp-team-one:hover .thumb-wrap img {
    transform: scale(1.1, 1.1);
}