.tp-img-card .inner {
    position: relative;
    overflow: hidden;
}   
.tp-img-card .card-image-wrapper {
    position: relative;
}
.tp-img-card .card-image-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.tp-img-card .item .card-image-wrapper{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tp-img-card .item .service-card-content {
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    width: 93%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
}
.tp-img-card .item:hover .card-image-wrapper {
    filter: grayscale(1) brightness(0.7);
}
.tp-img-card .item:hover .card-image-wrapper::before {
    opacity: 0;
    visibility: hidden;
}
.tp-img-card .link.two{
    position: absolute;
} 
.tp-img-card .tbcontent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.tp-img-card .card-image-wrapper{
    transform: scale(1.08);
}
.tp-img-card .item:hover .card-image-wrapper{
    transform: scale(1);   
}
.hover-show{
    opacity:0;
}
.tp-img-card .item:hover .hover-show{
    opacity:1;
}
.tp-img-card .card-image-wrapper{
    transform: scale(1.08);
}
.tp-img-card .item:hover .card-image-wrapper{
 transform: scale(1);   
}
.tp-img-card .item:hover
 {
    transform: translateY(-10px);
}

